# Build output
build/
**/Debug/
**/Release/
**/x64/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.dir/
**/*.ilk
**/*.pdb
**/*.obj
**/*.exe
**/*.dll
**/*.recipe
**/*.tlog/
**/*lastbuildstate
**/*.FileListAbsolute.txt
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters

# vcpkg installed packages
vcpkg_installed/

# IDE
.vs/
.vscode/
*.user
*.suo

# Misc
imgui.ini
*.log
*.zip
